
journeymap/

logs/

resourcepacks/

saves/

shaderpacks/

backups/

asm/
\.curseclient

usernamecache\.json

usercache\.json

optionsshaders\.txt

optionsof\.txt

options\.txt

crash-reports/

\.analytics/

config\.tmp/

minecraftinstance\.json

servers.dat

screenshots/

.ReAuth.cfg

crafttweaker\.log

config/jei/lookupHistory\.zip

config/jei/tooltipCache\.zip

config/jei/jei\.cfg

local/client_config.json

config/InvTweaks\.cfg

hs_err_pid*.log

.DS_Store

config/MouseTweaks\.cfg

config/jei/worldSettings\.cfg

config/splash\.properties

local/ftbu/all_permissions_full_list\.txt

config/chiselsandbits_clipboard\.cfg

local/ftbu/all_permissions\.html

generated/
/OpenComputersMod-1.7.0.20-lua52-native.64.dll
/OpenComputersMod-1.7.0.20-lua53-native.64.dll
/realms_persistence.json