
/journeymap/
/logs/
/resourcepacks/
/saves/
/shaderpacks/
/backups/
/asm/
/crash-reports/
/screenshots/
/generated/

/.analytics/
/.mixin.out/
/.curseclient
/.ReAuth.cfg

/OpenComputersMod-*.dll
/realms_persistence.json
/minecraftinstance.json
/usernamecache.json
/usercache.json
/optionsshaders.txt
/optionsof.txt
/options.txt
/servers.dat
/crafttweaker.log

/config/jei/lookupHistory.zip
/config/jei/tooltipCache.zip
/config/jei/jei.cfg
/config/InvTweaks.cfg
/config/MouseTweaks.cfg
/config/jei/worldSettings.cfg
/config/splash.properties
/config/chiselsandbits_clipboard.cfg

/hs_err_pid*.log
/.DS_Store

/local/client_config.json
/local/ftbu/all_permissions_full_list.txt
/local/ftbu/all_permissions.html

*_bak
